/* Color */
.blog-style h4,.blog-style > a:hover,
.top-bar ul li a:hover, .top-bar a:hover,.team-text h4{
   
    color: silver;

}
/* Background Color */
.preloader {

    background-color: black;

}

.accordion-item.active a.heading,.blog-style .date,#progress-value,
.clients-rate,.btn,.quotation button.owl-dot.active,.pricing-plan-style ul li:before,
.pricing-plan-style a.btn:after {

    background-color: silver;

}

h1{
    color: silver;
    text-shadow: black 0.05em 0.025em;
}
.lgo{
    color: silver;
    text-shadow: black 0.07em 0.07em;
}