<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="../static/img/free-icon-wrench-953812.png">
    <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <!-- style -->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- responsive -->
    <link rel="stylesheet" href="../static/css/responsive.css">
    <!-- color -->
    <link rel="stylesheet" href="../static/css/color.css">

    {% block links %}{% endblock %}
</head>

<body>
<div class="container">
    {% block preloader %}
    {% endblock %}


    <!-- Header -->
    <header id="stickyHeader">
        <div class="top-bar">
          <div class="logo">
            <a href="{{url_for('home')}}">
              <img alt="logo" src="../static/img/LOGO.jpg">
            </a>
          </div>
          <nav>
            <ul>
              <li><a href="{{url_for('home')}}">Home</a></li>
              <li><a href="{{url_for('about')}}">About us</a></li>
              <li><a href="{{url_for('services')}}">Services</a></li>
              <li><a href="{{url_for('prices')}}">Pricing</a></li>
              <li><a href="{{url_for('news')}}">News</a></li>
            </ul>
          </nav>

          {% if current_user.is_authenticated %}
          <div class="login">
              <a class="btn office" href="{{url_for('office')}}"><span>office</span></a>
              <a class="btn office" href="{{url_for('logout')}}"><span>exit</span></a>
              <span class="lgo">{{current_user.first_name}} {{current_user.last_name}}</span>
          {% else %}
              <a class="btn" href="{{url_for('login')}}"><span>login</span></a>
              <a class="btn" href="{{url_for('sing_up')}}"><span>sign up</span></a>
          </div>
          {% endif %}
        </div>
    </header>
  <!-- Header end -->


   {% block content %}
   {% endblock %}


  <!-- footer start -->
<!--    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">-->
<!--      <div class="col-md-4 d-flex align-items-center">-->
<!--        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">-->
<!--          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>-->
<!--        </a>-->
<!--        <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>-->
<!--      </div>-->

<!--      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">-->
<!--        <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>-->
<!--        <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>-->
<!--        <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>-->
<!--      </ul>-->
<!--    </footer>-->
  <!-- footer end -->


  {% block scripts %}
  {% endblock %}

</div>
</body>
</html>