{% extends "base.html" %}

{% block title %}My office{% endblock %}

{% block links %}
    <link rel="stylesheet" href="static/css/office.css">
{% endblock %}


{% block preloader %}
    <!-- preloader -->
    <div class="preloader">
      <span class="loader"> </span>
    </div>
    <!-- preloader end -->
{% endblock %}


{% block content %}
    <div class="container">
        <br>
        <br>
        <h2><b>My office</b></h2>
        <hr>
        <p><b>First name:</b> &nbsp;&nbsp;{{ first_name }}</p>
        <p><b>Middle name:</b> &nbsp;&nbsp;{{ middle_name }}</p>
        <p><b>Last name:</b> &nbsp;&nbsp;{{ last_name }}</p>
        <p><b>Email:</b> &nbsp;&nbsp;{{ email }}</p>
        <p><b>Phone:</b> &nbsp;&nbsp;{{ phone }}</p>
        <p><b>Brand:</b> &nbsp;&nbsp;{{ brand }}</p>
        <p><b>Model:</b> &nbsp;&nbsp;{{ model }}</p>

        <br>
        <form class="office_form" action="/office" method="post">
            <label for="phone"><p><b>Input phone</b></p></label>
            <input id="phone" type="text" placeholder="+7" name="phone">

            <label for="brand"><p><b>Input auto</b></p></label>
            <select id="brand" name="brand">
                <option value="Alpina">Alpina</option>
                <option value="Mazda">Mazda</option>
                <option value="Audi">Audi</option>
            </select>

            <label for="model"><p><b>input model</b></p></label>
            <select id="model" name="model">
                <option value="B3">B3</option>
                <option value="6GJ">6GJ</option>
                <option value="Q5">Q5</option>
            </select>

            <div class="clearfix">
                <button type="submit" class="btn btn_office">push</button>
            </div>
        </form>
    </div>
{% endblock %}


{% block scripts %}
  <!-- jQuery -->
  <script src="../static/js/jquery-3.6.0.min.js"></script>
  <!-- fancybox -->
  <script src="../static/js/custom.js"></script>
{% endblock %}