{% extends "base.html" %}

{% block title %}Sing up{% endblock %}


{% block preloader %}
    <!-- preloader -->
    <div class="preloader">
      <span class="loader"> </span>
    </div>
    <!-- preloader end -->
{% endblock %}


{% block content %}
<section id="home" class="hero-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="hero-text">
          <h1>{{ message }}</h1>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block scripts %}
  <!-- jQuery -->
  <script src="../static/js/jquery-3.6.0.min.js"></script>
  <!-- fancybox -->
  <script src="../static/js/custom.js"></script>
{% endblock %}